/**
 * @name Pokédungeon
 * @author Pixel Brush
 * @version 0.2
 * @description A attempt to replicate the design queues of the first Pokémon Mystery Dungeon Game.
 * @source 
 * @website 
*/

/*
- Logo -
*/

/* Server Stuffs */

/* Channels */
.scroller-2wx7Hm {
	border:2px solid #465CD5;
	outline:4px solid #5D7EF3;
}


.name-3_Dsmg {
	font-family: PKMN Mystery Dungeon;
	font-size: 20px;	
	text-shadow: 1px 1px 0px #000000;
	text-shadow: 2px 2px 0px #000000;
}


/*Chat Stuffs*/

/* Chat Avatar Images*/
.avatar-1BDn8e   {
	border-radius: 5px;
	height: 42px;
	width: 42px;
	border:1px solid #465CD5;
	border:3px solid #5D7EF3;
}

/* Chat Messages */
.markupRtl-3M0hmN {
	text-indent: 5px;
	border-radius: 5px;
	border:1px solid #465CD5;
	border:3px solid #5D7EF3;
	text-shadow: 1px 1px 0px #000000;
	text-shadow: 2px 2px 0px #000000;
	background-color: #25496D;
	font-family: PKMN Mystery Dungeon;
	font-size: 24px;
}

/* Chat Username */
.username-1A8OIy {
	text-indent: 5px;
	border-radius: 5px;
	border:1px solid #465CD5;
	border:3px solid #5D7EF3;
	text-shadow: 1px 1px 0px #000000;
	text-shadow: 2px 2px 0px #000000;
	background-color: #25496D;
	font-family: PKMN Mystery Dungeon;
	font-size: 24px;
	padding-top: 2px;
  	padding-right: 2px;
  	padding-bottom: 2px;
  	padding-left: 2px;
}

/* Chat Images */
.imageWrapper-2p5ogY img {
	text-indent: 5px;
	border-radius: 5px;
	border:1px solid #465CD5;
	border:3px solid #5D7EF3;
	text-shadow: 1px 1px 0px #000000;
	text-shadow: 2px 2px 0px #000000;
	background-color: #25496D;
	font-family: PKMN Mystery Dungeon;
	font-size: 24px;
}


